  .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

  .btn {
      font-size: 1em;
  }

    .card-header{
        background: whitesmoke !important;
    }

    strong{
        color: #6480d0;
    }

    body{
        font-size: 1em;
    }