.card_list {
	height: calc(100vh - 225px) !important;
    max-height: calc(100vh - 225px) !important;
    overflow-y: auto !important;
}

.better {
	border: solid 1px green !important;
}

.worse {
	border: solid 1px red !important;
}

.arrow {
	display: flex;
	align-items: center;
}

.hover-button {
	color: #bbbbbb
}

.hover-button:hover {
	color: #888888
}

.hover-button:active {
	color: #444444
}

.hover-button.disabled {
	color: #bbbbbb !important;
}
