<!DOCTYPE html>

<html lang="en">
<head>
    {% include 'base.html' %}
    <script src="{{ url_for('static', filename='javascript/about_page.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/about_page.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<section class="" id="about" style="padding-bottom: 0px">
    <div class="container" style="">
        <div class="row" style="text-align: center">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin: auto">
                <h2 class="section-heading">Find the rooms that maximize your utility.</h2>
                <hr class="light">
                <p class="text-faded" style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 21px;margin: auto">
                    Our goal is to provide you with information to make the best room draw decision possible.
                    <br>
                    <br>
                    <u>Search by:</u>
                    <br>
                    Room name, draw type, building, occupancy, and more.
                    <br>
                    <u>Sort by:</u>
                    <br>
                    Number of rooms, likelihood you will acquire the room, square footage.
                    <br>
                    <u>Compare:</u>
                    <br>
                    Favorite rooms, compare their qualities, and check out peer reviews.
                </p>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
    {% include "faq_page/meet_team.html" %}
</section>
</body>
</html>
