<div class="container">
        <h2 class="section-heading" style="text-align: center">Meet the team</h2>
    <hr class="light">
    <div class="main">
        <div class="row">

            <div class="col-md-4">
                <h3 id=picname class="sub-header">Theodore Ando</h3>
                <img class="img-responsive center-block" src="static/theodore.jpg">
                <p> Theodore's interests include Ping Pong, Computational Linguistics, Borderlands 2, and high-quality coffee. He enjoys polished websites and memes. </p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Eitan Zlatin</h3>
                <img class="img-responsive center-block" src="static/eitan.jpg">
                <p> Eitan Zlatin is well known for being a genius at ping pong, karate, and boar hunting. In his free time he drinks high quality coffee.</p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Yanjun Yang</h3>
                <img class="img-responsive center-block" src="static/yanjun.jpg">
                <p> Yanjun is well known for being excellent at github, writing RFCs, and version control. In his free time he consumes high quality coffee.</p>
            </div>

        </div>

{#        <br>#}
{#        <br>#}
{#        <br>#}
{#        <br>#}
{#        <br>#}

        <div class ="row">
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Jacob Edelman</h3>
                <img class="img-responsive center-block" src="static/Edelman.png" >
                <p> Jacob Edelman is well known for being a half-orc elf interested in longbows and evil magiks. In his free time he enjoys drinking high quality coffee. </p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Alexandra Palocz
                </h3>
                <img class="img-responsive center-block" src="static/alexandra.jpg">
                <p> Alexandra Palocz is well known for having a difficult to spell last name, having meetings at 2:30 and being a member of 3D space. In her free time she enjoys enjoying high quality coffee.</p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Jérémie Lumbroso</h3>
                <img class="img-responsive center-block" src="static/jermie.jpg">
                <p> Jérémie, our advisor, is well known for having emphasis marks in his first name. He enjoys high quality coffee and replying to emails in a timely manner.</p>
            </div>
        </div>


    </div>
</div>


<style>

    .img-responsive {
        width: 100%;
        {#height: ;#}
        {#padding: 1em;#}
    }
    {#    display: block;#}
    {#    margin-left: auto;#}
    {#    margin-right: auto;#}

</style>