<div class="container-fluid">
    <div class="main">
        <div class="row">
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Theodore Ando</h3>
                <img class="img-responsive center-block" src="static/theodore.jpg">
                <p> Theodore's interests include Ping Pong, Computational Linguistics, Borderlands 2, and high-quality coffee. He enjoys polished websites and memes. </p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Eitan Zlatin</h3>
                <img class="img-responsive center-block" src="static/eitan.jpg">
                <p> Eitan Zlatin is well known for being a genius at ping pong, karate, and boar hunting. In his free time he drinks high quality coffee.</p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Yanjun Yang</h3>
                <img class="img-responsive center-block" src="static/yanjun.jpg">
                <p> Yanjun is well known for being excellent at github, writing RFCs, and version control. In his free time he consumes high quality coffee.</p>
            </div>

        </div>
        <div class ="row">
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Jacob Edelman</h3>
                <img class="img-responsive center-block" src="static/Edelman.png" >
                <p> Jacob Edelman is well known for being a half-orc elf interested in longbows and evil magiks. In his free time he enjoys drinking high quality coffee. </p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Alexandra Palocz
                </h3>
                <img class="img-responsive center-block" src="static/alexandra.jpg">
                <p> Alexandra Palocz is well known for having a difficult to spell last name, having meetings at 2:30 and being a member of 3D space. In her free time she enjoys enjoying high quality coffee.</p>
            </div>
            <div class="col-md-4">
                <h3 id=picname class="sub-header">Jérémie Lumbroso</h3>
                <img class="img-responsive center-block" src="static/jermie.jpg">
                <p> Jérémie is well known for having emphasis marks in his first name. He enjoys high quality coffee and reply to emails in a timely manner.</p>
            </div>
        </div>


    </div>
</div>



<section class="" id="about" style="padding-bottom: 0px">
          <div class="container" style="text-align: center;">
              <div class="row" style="height: 83vh;">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Meet Our Team</h2>
                      <hr class="light">
                      <div class="row">
                        <div class="col-md-5ths">
                          <div class="thumbnail">
                            <img src="static/theodore.jpg" >
                          </div>
                          <p class="text-faded" style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 17px">
                            <b>Jessica Zheng</b>
                            <br>
                            BSE COS ‘19. <br>Fond of full-stack development, matcha, <br> and Star Wars.
                          </p>
                        </div>
                        <div class="col-md-5ths">
                          <div class="thumbnail">
                            <img src="static/eitan.jpg" ></img>
                          </div>
                          <p class="text-faded" style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 17px">
                            <b>Bill Zhang</b>
                            <br>
                            BSE COS ‘19. Back-end. Enjoys bubble tea, books, and web serials.
                          </p>
                        </div>
                        <div class="col-md-5ths">
                          <div class="thumbnail">
                            <img src="static/yanjun.jpg" ></img>
                          </div>
                          <p class="text-faded" style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 17px">
                            <b>Elizabeth Tian</b>
                            <br>
                            BSE COS ‘19. Back-end. Loves traveling, buying dresses, and aesthetic food.
                          </p>
                        </div>
                        <div class="col-md-5ths">
                          <div class="thumbnail">
                            <img src="static/Edelman.jpg" ></img>
                          </div>
                          <p class="text-faded" style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 17px">
                            <b>Natalie Diaz</b>
                            <br>
                            BSE COS ‘19. Slowly but surely becoming acquainted with the taste of boba.
                          </p>
                        </div>
                        <div class="col-md-5ths">
                          <div class="thumbnail">
                            <img src="static/alexandra.jpg" ></img>
                          </div>
                          <p class="text-faded" style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 17px">
                            <b>Julie Zhu</b>
                            <br>
                            BSE COS ‘19. Often found doodling, drinking (bubble) tea, or daydreaming. Rarely sleeping or actually coding.
                          </p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>















<style>
    .img-responsive{
        width:75%;
        height:75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>