<table class="table pageResize" id="rooms_table" style="width:100%">
            <thead>
            <tr>
                <th scope="col" >Room</th> <!--The non-breaking spaces are for alignment. Bite me. -->
                <th scope="col" >Floor</th>
                <th scope="col" >Area</th>
                <th scope="col" >Occupancy</th>
                <th scope="col" >College</th>
                <th scope="col" >Likelihood</th>
                <th scope="col"></th>
            </tr>
            </thead>
</table>