<div style="width:100%" data-step="2" data-intro="Check out search results here! If you want more detail on a room, try clicking on the row.
To sort, click the arrows on the top and shift click to sort by more than one collumn.">
    <table class="table pageResize" id="rooms_table" style="width:100%">
                <thead >
                <tr>
                    <th scope="col" >Room</th> <!--The non-breaking spaces are for alignment. Bite me. -->
                    <th scope="col" >Floor</th>
                    <th scope="col" >Area</th>
                    <th scope="col" >Occupancy</th>
                    <th scope="col" >Draw Type</th>
                    <th scope="col" >Likelihood</th>
                    <th class="dt-head-right" scope="col">
                        <div class = "row">
                            <div class = "col offset-sm-8 col-sm-2">
{#                                <a style="padding: 0px;" data-toggle="tooltip" title="Click here to to add the room to your personal favorites list. It will also get added to your draw specific favorite list, so everyone in your draw group can see it! ">#}
{#			                    <i class="far fa-lightbulb fa-xs hover-button" style="font-size:1em"></i>#}
{#                                    </a>#}
                            </div>
                        </div>

                    </th>

                </tr>
                </thead>
    </table>
</div>