<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}
{#    <script src="{{url_for('static', filename='favorites.js')}}"></script>#}
{#    <link rel="stylesheet" href = "{{url_for('static', filename = 'favorites.css')}}">#}
</head>
<body>
{% include 'navbar.html' %}

<div class="container-fluid" style="">
    <div class="row">
        <div class="col col-sm-6">
            Pizza
{#            {% include 'search_page/table.html' %}#}
        </div>
        <div class="col col-sm-6">
            {% include 'search_page/table_card.html' %}
        </div>
    </div>
</div>

</body>

</html>
