<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}
    <script src="{{ url_for('static', filename='javascript/search_page.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/small_card.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/medium_card.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/big_card.js') }}"></script>
	<script src="{{ url_for('static', filename='javascript/reviews_card.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/card_wrapper.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/form_manager.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sorting_controls.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
</head>
<body>
{% include 'navbar.html' %}

<div class="container-fluid" style="">
    <div class="row">
        <div class="col col-sm-4">
            {% include 'search_page/search_bar.html' %}
        </div>


        <div class = "col col-sm-8">
            <div class="row" id="Sorting_controls">
                    <h4>Results: (50)</h4>

                            <div class = "ml-auto">
                            <select class="form-control filter" id="building_select">
                                <option id="building_fake_option" value="" >Sort by building</option>
                                <option id="building_fake_option" value="" >Sort by floor</option>
                                <option id="building_fake_option" value="" >Sort by square footage</option>
                                <option id="building_fake_option" value="" >Sort by occupancy</option>
                                <option id="building_fake_option" value="" selected>Sort by draw type</option>
                                <option id="building_fake_option" value="" >Sort by likelihood</option>
                                <option id="building_fake_option" value="" >Sort by number of rooms</option>
                                <option id="building_fake_option" value="" >Sort by favorited</option>
                            </select>
                            </div>
            </div>

            <div class = "row">
            <div id = "scroller" style="overflow-x: hidden;overflow-y: auto; height: calc(100vh - 150px); max-height: calc(100vh - 150px)">
            <div class="container-fluid padding-0">


                <div class="row Table_card">
                    {# Cards are dynamically inserted here using jquery #}
                </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
