<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'base.html' %}
    <script src="{{url_for('static', filename='favorites.js')}}"></script>
</head>
<body>
{% include 'navbar.html' %}

<!--
<div class="container">
    <div class="row"> -->
        <table class="table pageResize table-striped table-bordered" id="roomsTable" style="width:100%">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">College</th>
                <th scope="col">Building</th>
                <th scope="col">Floor</th>
                <th scope="col">Room</th>
                <th scope="col">Sqft</th>
                <th scope="col">Occupancy</th>
                <th scope="col"># of Rooms</th>
                <th scope="col">Sub-Free</th>
            </tr>
            </thead>
            <tbody>
            {% for room in room_data[0:50] %}
                <tr>
                    <td><i id="{{ room['id'] }}" class="far fa-star" onclick="favorite(this.id)"></i></td>
                    <td>{{ room['college'] }}</td>
                    <td>{{ room['building'] }}</td>
                    <td>{{ room['floor'] }}</td>
                    <td>{{ room['roomnum'] }}</td>
                    <td>{{ room['sqft'] }}</td>
                    <td>{{ room['occupancy'] }}</td>
                    <td>{{ room['numrooms'] }}</td>
                    <td>{{ 'Y' if room['subfree'] else 'N' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
<!--
    </div>
</div> -->

</body>

</html>
