{#{% for room in room_data[0:50] %}#}
{#    <div class="card" style="width: 100%; margin-bottom: 10px">#}
{#    <div class="card-body">#}
{#        <h5 class="card-title">{{ room['building'] }} {{ room['roomnum'] }}<span class = "float-right">{{ room['college'] }}</span></h5>#}
{#        <p class="card-text">Floor : {{ room['floor'] }} Sqft: {{ room['sqft'] }} Number of rooms: {{ room['numrooms'] }}</p>#}
{#    </div>#}
{#    </div>#}
{#{% endfor %}#}

{% for room in room_data[0:500] %}
    <div class="card" style="width: 100%; margin-bottom: 5px">
        <div class="container-fluid" style="background-color: #f2f5ff">
            <div class="card-body fonted" style="padding: 10px;">
                {% include 'cards/medium_card.html' %}
            </div>
        </div>
    </div>
{% endfor %}


{#                                    <i class="fas fa-chevron-down"></i>#}
            {#                        <i class="fas fa-angle-double-down fa-lg" style="font-size: 23px"></i>#}
{#                                    <span class="fa-stack"> <!--More allignment control here. I'll try to save all the margin handling for the end, as it can get broken super easy-->#}
{#                                        <i class="fas fa-chevron-down fa-stack" data-fa-transform="right-10 down-8"></i>#}
{#                                        <i class="fas fa-chevron-down fa-stack" data-fa-transform="left-8 down-15"></i>#}
{#                                    </span>#}