 <div class="card" style="width: 100%; margin-bottom: 10px">
        <div class="container-fluid">
            <div class="card-body" style="padding: 10px;background-color: #f2f5ff">
                <div class = "row">
                    <div class = "col-sm-3">
                        <p class="card-text">
                        {{ room['building'] }} {{ room['roomnum'] }}
                        </p>
                    </div>
                    <div class = "col-sm-2">
                        <p class="card-text">
                        {{ room['floor'] }}th Floor
                        </p>
                    </div>
                    <div class = "col-sm-2">
                        <p class="card-text">
                            {{ room['sqft'] }} ft<sup>2</sup>
                        </p>
                    </div>
                    <div class = "col-sm-2">
                        <p class="card-text">
                            {{ room['numrooms'] }} Rooms
                        </p>
                    </div>
                    <div class = "col-sm-2">
                        <p class="card-text">
                        {{ room['college'] }}
                        </p>
                    </div>
                    <div align="center" class = "col-sm-1">
                        <span class="fa-stack" style="margin-bottom: -10px"> <!--More allignment control here. I'll try to save all the margin handling for the end, as it can get broken super easy-->
                            <i id="{{ room['id']}}star" class="far fa-star fa-stack-1x yellowstar"></i>
                            <i class="far fa-star fa-stack-1x blackstar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
 </div>