<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'base.html' %}
	<script src="{{url_for('static', filename='javascript/favorites_page.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/reviews_card.js')}}"></script>
	<script src="{{url_for('static', filename='javascript/big_card.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename = 'base.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'favorites_page.css')}}">

  </head>

  <body>
	{% include 'navbar.html' %}

	<div class="container-fluid">
	  <div class="row h-100">
		<div class="col col-sm-2" data-step="1" data-intro="Select a favorites list from the drop down menu. Then click on a room to view it in more detail. Right click on a room to lock it in place. Rooms that you favorite on the search page will show up under your personal list, as well as under the appropriate group list.">
		  <div class="row" style="margin-bottom: 10px">
			<div class="col col-sm-11" style="padding-right: 5px">
			  <select class="form-control" id="groups" style="display: inline-block">
				<option id="default" value="-1" selected>Personal</option>
			  </select>
			</div>
			<a class="col col-sm-1" style="padding: 0px" data-toggle="tooltip" title="Select a favorites list from the drop down menu. Then click on a room to view it in more detail. Right click on a room to lock it in place.">
			  <i class="far fa-lightbulb fa-xs hover-button"></i>
			</a>
		  </div>
		  <div class="row">
			<div class="col col-sm-12 card_list" id="cards" style="max-width: 100%; overflow-x: hidden;">
			</div>
		  </div>

		</div>
	
		<div class="col col-sm-10" data-step="2" data-intro="You can also right-click on these cards to lock them in place. Use the left and right arrow to view the previous and next rooms.">
		 <div class="row h-100">
		<div class="col col-sm-6 h-100">
		  <div class="row h-100">
			<div class="col col-sm-1 h-100 arrow"><div class="w-100" align="center" id="big-card-0-left"><i class="fa fa-chevron-left fa-lg hover-button"></i></div></div>
			<div class="col col-sm-10 card h-100 selectable-card big-card">
			  <div class="container-fluid">
				<div class="card-body">
				  <div class="row" id="big-card-0-body">
				  </div>
				</div>
			  </div>
			</div>
			<div class="col col-sm-1 h-100 arrow"><div class="w-100" align="center" id="big-card-0-right"><i class="fa fa-chevron-right fa-lg hover-button"></i></div></div>
		  </div>
		</div>

		<div class="col col-sm-6 h-100">
		  <div class="row h-100">
			<div class="col col-sm-1 h-100 arrow"><div class="w-100" align="center" id="big-card-1-left"><i class="fa fa-chevron-left fa-lg hover-button"></i></div></div>
			<div class="col col-sm-10 card h-100 selectable-card big-card">
			  <div class="container-fluid">
				<div class="card-body">
				  <div class="row" id="big-card-1-body">
				  </div>
				</div>
			  </div>
			</div>
			<div class="col col-sm-1 h-100 arrow"><div class="w-100" align="center" id="big-card-1-right"><i class="fa fa-chevron-right fa-lg hover-button"></i></div></div>
		  </div>
		</div>
		</div>
		</div>
		
	  </div>
	</div>
  </body>
</html>
