<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'base.html' %}
	<script src="{{url_for('static', filename='favorites_page.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename = 'base.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'favorites_page.css')}}">

  </head>

  <body>
	{% include 'navbar.html' %}

	<div class="container-fluid">
	  <div class="row h-100">
		<div class="col col-sm-2 pre-scrollable" id="cards">
		</div>

		<div class="col col-sm-5">
		  <div class="card h-100">
			<div class="container-fluid">
			  <div class="card-body">
				<div class="row" id="bigcard1_body">
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<div class="col col-sm-5">
		  <div class="card" style="width: 100%; height:100%">
			<div class="container-fluid">
			  <div class="card-body">
				<div class="row" id="bigcard2_body">
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>
